* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    color: #000000;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px;
    text-decoration: underline;
  }

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boton-inicio {
  float: left;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
  border: none;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ddd;
}

main {
  padding: 20px;
}

h3 {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  width: 50%;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}
  
.fotos{
    display: flex;
    width: 1325px;
    height: 320px;
}

.fotos img{ 
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    filter:brightness(95%);
    transition: .7s ease;
}

.fotos img:hover{
    width: 130px;
    opacity: 1;
    filter: brightness(130%);
  }

body.pp {
  background-image: url("../Img/fondo4.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

body.ht {
  background-color: hsl(0, 3%, 83%);
}

body.cs {
  background-color: hsl(0, 3%, 83%);
}
 
body.js {
  background-color: hsl(0, 3%, 83%);
}

body.gi {
  background-color: hsl(0, 3%, 83%);
}

.img {
text-align: center;
}

img.im {
  border-radius: 5%;
  height: 300px;
  width: 600px;
  }

p {
  color:rgb(97, 10, 10) ;
}

body {
  line-height: 1.5;
}

hr {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}